* {
	margin: 0px;
	padding: 0px;
}

header, nav, section, article, footer, img, audio {
	display: block;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	text-align: center;
	width: 100%;
}

#outer_div {
	border: 1px solid black;
	max-width: auto;
	text-align: left;
}

#main_header {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

#main_section {
	display: flex;
	flex-direction: column;
}

#main_footer {
	clear: both;
	text-align: center;
	padding: 20px;
}

article {
	border-bottom: 1px solid black;
	padding: 20px;
}

article header {
	text-align: center;
}

article footer {
	text-align: right;
}

@media only screen and (min-width: 768px) {
	#main_section {
		margin: 30px;
	}

	#main_footer {
		border-top: 1px solid black;
	}

	article {
		border: 1px solid black;
		margin-bottom: 15px;
	}
} 